@font-face { font-family: Pixeboy; src: url('../assets/pixeboy-font/Pixeboy-z8XGD.ttf'); }
@font-face { font-family: Pixeboy; font-weight: bold; src: url('../assets/pixeboy-font/Pixeboy-z8XGD.ttf');}

.page-body
{
    background-color: black;
    font-family: Pixeboy;
    color: white;
    margin-left: 200px;
    margin-right: 20px;
}

.centipide-title
{
    position: relative;
    margin-top : auto;
    background-color: black;
}

.centipide-title h1
{
    font-family: Pixeboy;
    color: white;
    text-align: center;
    font-size: 100px;
    margin-bottom: 20px;
}

.sidebar
{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 17, 255, 0.541);
}

.sidebar a
{
    padding: 16px;
    font-size: 30px;
    display: block;
}

.game-container
{
    /*background-image: url(../assets/old-tv.png);*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
}

#game
{
    height: 400px;
}



.page-footer
{
    padding-top: 30px;
    font-family: Pixeboy;
    font-size: 25px;
    color: white;
}

.about-content
{
    font-size: 20px;
    float: left;
    width: 100%;
    text-align: center;
    
}

.about:after
{
    content:"";
    display: table;
    clear: both;
}

.collapsible
{
    margin-top: 25px;
    font-family: Pixeboy;
    font-size: 2em;
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;


}

.active,.collapsible:hover
{
    background-color: #555;
}

.collaps-content
{
    padding: 0 18px;
    font-size: 1.2em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #312dfd;
}

.game-canvas
{
    /*background-image: url("/HTML-AS2/assets/grass.png");*/
    position: relative;
    height: 400px;
    width: 850px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(105, 105, 105);
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 180px;
    background-color: #312dfd;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #0e0aff;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  .playpausebtn
  {
    background: #7C7C7C;
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 2.2rem;
	margin-top: 1rem;
	min-width: 200px;
	padding: .25rem;
	text-transform: uppercase;
	width: auto;
  }

  .mutebtn
  {
    background: #7C7C7C;
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 2.2rem;
	margin-top: 1rem;
	min-width: 200px;
	padding: .25rem;
	text-transform: uppercase;
	width: auto;
    float:right;
  }
  
  .start-btn
  {
    margin: 0;
    position:absolute;    
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

  }